<div class='cuerpo'>
      <h1>new user</h1>
      <form name='formulario' #usuarioForm='ngForm' (ngSubmit)='logUp()'>
      <input type="text" id="nombre" 
            required
            name="nombre" pattern='[a-zA-Z]+' [(ngModel)]="user.nombre"
            #nombre="ngModel" placeholder="Nombre" >

      <div *ngIf="nombre.errors && (nombre.dirty || nombre.touched)">
            <div [hidden]="!nombre.errors.required">
            Debe ingresar el nombre!
            </div>
            <div [hidden]='!nombre.errors.pattern'>
            Sin números!
            </div>
      </div>
      <br>
      <input type="text" required pattern='[a-zA-Z]+' name='apellido' [(ngModel)]='user.apellido' #apellido="ngModel" placeholder="Apellido">

      <div *ngIf='apellido.errors && (apellido.dirty || apellido.touched)'>
            <div [hidden]='!apellido.errors.required'>
            Debe ingresar el apellido!
            </div>
            <div [hidden]='!apellido.errors.pattern'>
            Sin números!
            </div>
      </div>
      <br>
      <input type='text' required name='dni' minlength='8'
      maxlength='10' pattern='[0-9]+' [(ngModel)]='user.dni' #dni='ngModel' placeholder="Documento">

      <div *ngIf='dni.errors && (dni.dirty || dni.touched)'>
            <div [hidden]="!dni.errors.pattern">
            Sólo números!
            </div>
            <div [hidden]='!dni.errors.minlength'>
            Al menos 8 digítos!
            </div>
      </div>
      <br>
      <input type="text" name='username' required [(ngModel)]='user.username' #username='ngModel' placeholder='Nombre de Usuario'>
      <br>
      <div *ngIf='username.errors && (username.dirty || username.touched)'>
            <div [hidden]='!username.errors.required'>
            Debe ingresar el nombre de usuario!
            </div>
      </div>
      <input type="password" name='pass' required minlength="4" maxlength="12" [(ngModel)]='user.password' #pass='ngModel' placeholder="Contraseña">
      <br>
      <div *ngIf='pass.errors && (pass.dirty || pass.touched)'>
            <div [hidden]='!pass.errors.required'>
            Debe ingresar la contraseña!
            </div>
      </div>
      <input type="password" #pass2 placeholder="Repita la Contraseña">
      <div *ngIf='pass2.value != pass.value'>
            Deben coincidir!
      </div>
      <br>
      <button routerLink='/'>Back!</button>
      <button type='submit'>Log Up!</button>
      </form>
      
</div>
<div *ngIf='error'>
   problema al crear usuario
</div>