<h1>Perfil usuario</h1>
<div *ngIf="user">
   <label>Nombre de usuario: {{user.username}}</label>
   <br>
   <label for="">Nombre: {{user.persona.nombre}}</label>
   <br>
   <label for="">Apellido: {{user.persona.apellido}}</label>
   <br>
   <label for="">Documento: {{user.persona.dni}}</label>
   <h2>Amigos:</h2>
   <ul>
      <li *ngFor='let amigo of user.persona.amigos'>
               {{amigo.nombre}}
      </li>
   </ul>
   <h2>Mascota:</h2>
   {{user.persona.mascota.nombre}}
   <button (click)='addFriend()'>Add Friend!</button>
   <div *ngIf=addFnd>
      <personas [id]='user.persona._id' (onAdd)="onAdd($event)"></personas>
   </div>   
</div>
